@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* slate-400 */
  border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #e2e8f0; /* slate-200 */
}
